@media screen and (min-width: 992px){
    .container{
        padding: 0 2em;
    }
    .desktop-hide{
        display:none;
    }
}

h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

.container{
    max-width: 1280px;
    /* margin: 0 auto; */
    padding: 0 0.938em;
}
.column{
    margin-left: -0.938em;
    margin-right: -0.938em;
}
.column.row{
    padding: 0 0.938em;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.flexcenter{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flexitem{
    display: flex;
    align-items: center;
}
.flexcol{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-links a:hover{
    color: var(--secondary-color);
}

.second-links a:hover{
    color: var(--light-text-color);
}

.icon-small, .icon-large{
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small{
    font-size: 1.25em;
    margin:0 0.75em 0 0;
}
.icon-large{
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}






header li > a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}





.header-top .wrapper{
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}
.header-top .wrapper ul{
    gap: 2em;
}

.header-top li{
    position: relative;
}
.header-top ul ul{
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display:none;
}
.header-top .right ul ul li a{
    padding: 0.25em 1em;
}
.header-top .right ul ul li.current a{
    background-color: var(--border-color);
}
.header-top li:hover ul{
    display: block;
}

.trigger{
    font-size: 1.5em;
    display: flex;
    margin:0.5em;
    padding:0.25em;
}

.logo a {
    font-family:'Poppins';
    font-size: 1.75em;
    position: relative;
    font-weight: var(--fwB);
    display: flex;
    padding-left: 0.75em;
    margin-right: 2em;
}

.circle{
    position: absolute;
    top: -15px;
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: var(--percent50);
    background-color: var(--light-bg-color);
    z-index: -1;
}

.circle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: var(--percent50);
    background-color: var(--secondary-color);
    bottom: 5px;
    right: 5px;
    opacity:.4;
}